<div id="remark_request">
  <div id="remark_request_text">
    <%= submission.remark_request %>
  </div>
  <div id="overall_comments_edit">
    <h3><%= I18n.t("marker.overall_comments") %></h3>
  </div>
</div>
